/* RESET */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* BODY STYLE START */
body {
    background-color: black;
    min-width: 300px;
}
/* BODY STYLE END */

/* HEADER STYLE START */
header {
    position: relative;
    height: 650px;
    border-bottom: 5px solid #333;
}

.logo-container {
    z-index: 3;
    position: absolute;
    top: 5px;
    left: 35px;
    width: 150px;
    height: 80px;
    overflow: hidden;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-background img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-overlay {
    position: absolute;
    top:0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9))
}

.header-menu {
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 35px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-button {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    padding: 0 15px;
    border-radius: 3px;
    cursor: pointer;
}

.language-select {
    text-align: center;
    background: black;
    appearance: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.login-button {
    background-color: #E50914;
    color: white;                                   
    border: none;
}

.header-content {
    z-index: 3;
    position: absolute;
    width: 90%;
    top: 375px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    color: white;
}

.header-title {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

.header-subtitle {
    font-size: 22px;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

.header-text {
    font-size: 18px;
    margin: 25px 0;
    text-align: center;
}

.header-form{
    position: relative;
    width: 500px;
    height: 50px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
}

.header-form-input {
    position: relative;
    width:300px;
    border: none;
    flex-shrink: 0;
    padding: 10px;
    font-size: 15px;
}

.placeholder {
    position: absolute;
    left: 10px;
    top: 50%;
    color: gray;
    z-index: 6;
    transform-origin: left;
    transform : translateY(-50%);
    transition : all 0.3s ease;
}

.focusedInput {
    transform : translateY(-120%) scale(0.8)
}

.header-form-button {
    width:200px;
    font-size: 20px;
    background-color: #E50914;
    color: white;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

/* HEADER MEDIA QUERIES START */
@media screen and (max-width: 950px) {
    .header-form {
        width: 95%;
        max-width: 350px;
        flex-direction: column;
        align-items: center;
    }
    .header-form-input {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }
    .header-form-button {
        width: auto;
        padding: 5px 25px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    
    header {
        height: 450px;
    }

    .header-content {
        top: 250px;
    }
    
    .logo-container {
        left: 5px;
        width: 100px;
    }

    .header-menu {
        right: 10px;
        height: 60px;
    }

    .header-title {
        font-size: 28px;
    }

    .header-subtitle {
        font-size: 16px;
    }

    .header-text {
        font-size: 14px;
    }

    .header-menu-button {
        font-size: 12px;
        margin-left: 10px;
        padding: 0 10px;
    }
}
/* HEADER MEDIA QUERIES END */
/* HEADER STYLE END */

/* MAIN STYLE START */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 5px solid #333;
    padding: 50px;
}

.section-text-container {
    width: 50%;
    max-width: 500px;
    padding: 0 50px;
}

.section-heading {
    font-size: 45px;
    margin: 10px 0;
    font-weight: 500;
}

.section-text {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 300;
}

.section-image-container {
    position: relative;
    display: block;
    width: 50%;
    max-width: 500px;
    padding: 0 10px;
    overflow: hidden;
}

.section-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.tv-video {
    z-index: -1;
    position: absolute;
    top:48%;
    left:49.8%;
    width: 70%;
    transform: translate(-50%, -50%);
}

.devices-video {
    z-index: -1;
    position: absolute;
    top:32%;
    left:49.8%;
    width: 60%;
    transform: translate(-50%, -50%);
}

.download-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    height: 30%;
    border: 2px solid #333;
    background: black;
    border-radius: 10px;
}

.download-block-image {
    display: block;
    height: 100%;
    width: auto;
    padding: 5px;
}

.download-icon {
    height: 50px;
    width: 50px;
    margin: auto 0 auto auto;
}

.download-block-text-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.download-block-title {
    font-size: 14px;
}
.download-block-status {
    font-size: 12px;
    color: #0071eb;
}

@media screen and (max-width:950px) {
    section {
        flex-direction: column;
        padding: 50px 15px;
    }
    .section-text-container {
        width: 100%;
    }
    .section-heading {
        text-align: center;
    }
    .section-text {
        text-align: center;
    }
    .section-image-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .section-text-container {
        padding: 0;
    }
    .section-heading {
        font-size: 25px;
    }
    .section-text {
        font-size: 20px;
    }
    .section-image-container {
        padding: 0;
    }
}

.faq {
    flex-direction: column;
    padding: 10px;
}

.faq-title {
    font-size: 45px;
    padding: 15px 5px;
    margin: 10px auto;
    text-align: center;
}

.faq-items-container {
    width: 95%;
    max-width: 800px;
    margin: 10px auto;
}

.faq-item {
    background: #303030;
    margin-bottom: 10px;
    color: white;
}

.faq-item-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.faq-item-title {
    font-size: 25px;
    font-weight: 300;
}

.faq-item-icon {
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.opened {
    transform: rotate(0deg);
}

.faq-item-content {
    padding: 30px;
}

.faq-item-paragraph {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25px;
}

.hidden {
    display: none;
}

@media screen and (max-width:600px) {
    .faq-items-container {
        width: 100%;
    }
    .faq-item-button {
        padding: 20px 10px;
    }
    .faq-item-title {
        margin-right: 10px;
        font-size: 16px;
    }
    .faq-item-paragraph {
        font-size: 16px;
    }
    .faq-item-icon {
        height: 15px;
        width: 15px;
    }
}

/* MAIN STYLE END */

/* FOOTER STYLE START */

footer {
    max-width: 900px;
    color: grey;
    padding: 70px 45px 30px;
    margin: 0 auto;
}

.footer-text {
    margin-bottom: 30px;
    font-size: 15px;
}

.phone {
    color: grey;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-link {
    text-decoration: none;
    color: grey;
    display: inline-block;
    width: 200px;
    text-align: left;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

.footer-language-select {
    margin: 20px 0px;
}

.footer-country {
    font-size: 12px;
}

/* FOOTER STYLE END */
